.pagination
  margin: 0 auto
  padding: 25px 0
  width: 95.8%
  &__wrapper
    height: 44px
    display: flex
    justify-content: space-between
  &__pages
    width: calc(100% - 64px)
    display: flex
    justify-content: space-between
  &__btn,
  &__counter
    width: 44px
    height: 44px
    background: #C4C4C4